.header {
  background-color: #fff;
  box-shadow: 0 2px 15px 0 hsla(0, 0%, 20%, 0.2);
  padding: 15px 0;
}

.header__container {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}

.logo {
  font-size: 25px;
  color: #5a1eff;
  font-weight: 600;
}

.logo__desc {
  color: #858585;
  font-size: 14px;
  margin-left: 5px;
}

.navbar,
.logo__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn__add-task {
  cursor: pointer;
  padding: 7px 20px;
  font-size: 17px;
  background-color: #5a1eff;
  color: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  transition: 0.25s ease-in-out;
}

.btn__add-task:hover {
  background-color: transparent;
  color: #5a1eff;
  border-color: #5a1eff;
}
